@import "../../global.scss";

.works {
    background-color: #DAADA6;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-y: hidden;
    
    @include mobile {
        flex-direction: column;
        justify-content: center;
    }
   

    .arrow {
        font-size: 70px;
        position: absolute;
        cursor: pointer;
        color: white;

        @include mobile {
            font-size: 40px;
            &.back {
                top: 100px;
                left: 0;
            }
            &.foward {
                bottom: 100px;
                right: 0;
            }
        }

        &.back {
            left: 100px;
            @include mobile {
                
                top: 100px;
                left: 50%;
                transform: translateX(-50%);
                
            }
            
        }
        &.foward {
            right: 100px;
            @include mobile {
                
                bottom: 100px;
                left: 50%;
                transform: translateX(-50%);
                
            }
        }
    }

    .slider {
        height: 350px;
        display: flex;
        position: absolute;
        transition: all 400ms ease-out;
        left: 0;
        .container {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item {
                width: 700px;
                height: 100%;
                background-color: white;
                border-radius: 20px;;

                display: flex;
                align-items: center;
                justify-content: center;

                @include mobile {
                    height: 100%;
                    width: 80%;
                }

                .left {
                    flex: 0.4;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    .leftContainer {
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .imgContainer {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: rgb(226, 180, 164);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        .img {
                            font-size: 20px;
                        }
                        p {
                            font-size: 13px;

                            
                        }
                        a {
                            font-size: 12px;
                            font-weight: 500;
                            color: black;
                            text-decoration: underline;
                            cursor: pointer;
                            transition: color 150ms ease;
                            &:hover {
                                color: #DAADA6;
                            }
                        }

                        @include mobile {
                            h2 {
                                font-size: 14px;
                            }
                            span {
                                font-size: 10px;
                            }
                            p{
                                display: none;
                            }
                        }
                    }

                }
                .right {
                    flex: 0.8;
                    height: 100%;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}